<body>
    <div class="container mt-4 text-center">
        <div class="row">
            <div class="col">
                <br><br>
                <p class="h3 fw-bold gradient-text">
                  &nbsp;&nbsp;&nbsp;<i class="fa fa-plus-circle"></i>&nbsp;&nbsp;&nbsp;&nbsp;Ajouter un produit
                </p>
                <br>
            </div>
        </div>
    </div>
  
    <div class="container mt-4">
        <h2 class="text-center">Ajouter un Produit</h2>
    
        <form [formGroup]="produitForm" (ngSubmit)="saveProduit()">
            <div class="mb-3">
                <label for="name" class="form-label">Nom :</label>
                <input type="text" id="name" formControlName="name" class="form-control" required>
            </div>
    
            <div class="mb-3">
                <label for="description" class="form-label">Description :</label>
                <input type="text" id="description" formControlName="description" class="form-control" required>
            </div>
    
            <div class="mb-3">
                <label for="price" class="form-label">Prix :</label>
                <input type="number" id="price" formControlName="price" class="form-control" required>
            </div>
    
            <div class="mt-3 text-center">
                <button type="submit" class="btn btn-primary">Ajouter</button>
                <button type="button" class="btn btn-secondary" (click)="closeDialog()">Annuler</button>
            </div>
        </form>
    </div>
    
            <div class="col-sm-6">
                <img src="assets/img/lub.jpg" alt="" class="produit-img">
            </div>

    
  </body>
  