<!DOCTYPE html>
<html lang="fr">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ajouter une Livraison</title>

  
<body>
  <div class="livraison-container card-effect">
    <div class="livraison-header">
      <h2><i class="fas fa-truck"></i> Ajouter une Livraison</h2>
      <p>Veuillez remplir tous les champs requis pour créer une nouvelle livraison</p>
    </div>
    
    <div class="livraison-form">
      <form [formGroup]="addLivraisonForm" (ngSubmit)="addLivraison()">
        
        <div class="form-group">
          <label for="codeLivraison"><i class="fas fa-hashtag"></i> Code Livraison</label>
          <div class="input-container">
            <input type="text" id="codeLivraison" class="form-control" formControlName="codeLivraison" required placeholder="Entrez le code unique" readonly>
            <i class="fas fa-fingerprint input-icon"></i>
          </div>
          <button type="button"
        class="btn btn-sm btn-outline-secondary position-absolute end-4 h-1"
        style="top: 30px;" (click)="genererCodeLivraison()">
            Générer
          </button>
        </div>
        <div *ngIf="addLivraisonForm.get('codeLivraison')?.touched">
          <div *ngIf="addLivraisonForm.get('codeLivraison')?.hasError('required')" class="invalid-feedback">
            Le code livraison du commande est requis.
          </div>
          <div *ngIf="addLivraisonForm.get('codeLivraison')?.hasError('pattern')" class="invalid-feedback">
            Le code livraison ne doit contenir que lettres, chiffres, tirets ou underscores.
          </div>
          <div *ngIf="addLivraisonForm.get('codeLivraison')?.hasError('codeLivraisonExists')" class="invalid-feedback">
            Ce code livraison de commande est déjà utilisé.
          </div>
          
        </div>
    
        
        <div class="form-group">
          <label for="commande-num"><i class="fas fa-shopping-cart"></i> Numéro Commande</label>
          <div class="input-container">
            <select id="commande-num" class="form-control" formControlName="commandeId" required>
              <option value="" disabled selected>Sélectionnez une commande</option>
              <option *ngFor="let commande of commandes" [value]="commande.id">
                {{ commande.codeCommande }}
              </option>
            </select>
            <i class="fas fa-clipboard-list input-icon"></i>
          </div>
          <div *ngIf="addLivraisonForm.get('commandeId')?.invalid && addLivraisonForm.get('commandeId')?.touched" class="error-message">
            <i class="fas fa-exclamation-circle"></i> Le numéro de commande est requis.
          </div>
        </div>
        
        <div class="form-group">
          <label for="date"><i class="fas fa-calendar-alt"></i> Date Livraison</label>
          <div class="input-container">
            <input type="date" id="date" class="form-control" formControlName="date" required>
            <i class="fas fa-calendar-check input-icon"></i>
          </div>
          <div *ngIf="addLivraisonForm.get('date')?.invalid && addLivraisonForm.get('date')?.touched" class="error-message">
            <i class="fas fa-exclamation-circle"></i> La date de livraison est requise.
          </div>
        </div>
        
        <div class="form-group">
          <label for="marque-camion"><i class="fas fa-truck-moving"></i> Marque du Camion</label>
          <div class="input-container">
            <select id="marque-camion" class="form-control" formControlName="marque" (change)="onMarqueSelectionChange($event)" required>
              <option value="" disabled selected>Sélectionnez une marque</option>
              <option *ngFor="let marque of marquesCamion" [value]="marque">
                {{ marque }}
              </option>
            </select>
            <i class="fas fa-building input-icon"></i>
          </div>
          <div *ngIf="addLivraisonForm.get('marque')?.invalid && addLivraisonForm.get('marque')?.touched" class="error-message">
            <i class="fas fa-exclamation-circle"></i> La marque du camion est requise.
          </div>
        </div>
        
        <div class="form-group">
          <label for="immatriculation"><i class="fas fa-id-card"></i> Immatriculation</label>
          <div class="input-container">
            <select id="immatriculation" class="form-control" formControlName="immatriculation" required>
              <option value="" disabled selected>Sélectionnez une immatriculation</option>
              <option *ngFor="let immatriculation of immatriculations" [value]="immatriculation">
                {{ immatriculation }}
              </option>
            </select>
            <i class="fas fa-barcode input-icon"></i>
          </div>
          <div *ngIf="addLivraisonForm.get('immatriculation')?.invalid && addLivraisonForm.get('immatriculation')?.touched" class="error-message">
            <i class="fas fa-exclamation-circle"></i> L'immatriculation est requise.
          </div>
        </div>
        <!-- Champ pour sélectionner la citerne -->
        <div class="form-group">
          <label for="citerne"><i class="fas fa-gas-pump"></i> Citerne</label>
          <div class="input-container">
            <select id="citerne" class="form-control" formControlName="citerne" required>
              <option value="" disabled selected>Sélectionnez une citerne</option>
              <option *ngFor="let citerne of citernes" [value]="citerne.id">
                {{ citerne.reference }}
              </option>
            </select>
            
            
            <i class="fas fa-oil-can input-icon"></i>
          </div>
          <div *ngIf="addLivraisonForm.get('citerne')?.invalid && addLivraisonForm.get('citerne')?.touched" class="error-message">
            <i class="fas fa-exclamation-circle"></i> La citerne est requise.
          </div>
        </div>
        

        
        <div class="form-group">
          <label for="statut"><i class="fas fa-info-circle"></i> Statut</label>
          <div class="input-container">
            <select id="statut" class="form-control" formControlName="statut" required>
              <option value="" disabled selected>Sélectionnez un statut</option>
              <option value="EN_ATTENTE"><span class="status-indicator status-en-attente"></span> En Attente</option>
              <option value="LIVRE"><span class="status-indicator status-livre"></span> Livré</option>
              <option value="ANNULE"><span class="status-indicator status-annule"></span> Annulé</option>
            </select>
            <i class="fas fa-toggle-on input-icon"></i>
          </div>
          <div *ngIf="addLivraisonForm.get('statut')?.invalid && addLivraisonForm.get('statut')?.touched" class="error-message">
            <i class="fas fa-exclamation-circle"></i> Le statut est requis.
          </div>
        </div>
        
        <div class="btn-group">
          <button type="button" class="btn btn-secondary" (click)="onCancel()">
            <i class="fas fa-times"></i> Annuler
          </button>
          <button type="submit" class="btn btn-primary" [disabled]="addLivraisonForm.invalid"
>
            <i class="fas fa-check"></i> Ajouter la Livraison
          </button>
        </div>
        
      </form>
    </div>
  </div>
</body>
</html>