<app-header2></app-header2>
<app-dash-receptionnaire></app-dash-receptionnaire>

<div class="heading_container heading_center container">
    <h2 class="lo">Gestion des Citernes</h2>
    <br>

    <!-- Formulaire pour ajouter une nouvelle citerne -->
    <div class="form">
        <input type="text" placeholder="Référence de la citerne" [(ngModel)]="nouvelleCiterne.reference">
        <input type="number" placeholder="Capacité" [(ngModel)]="nouvelleCiterne.capacite">
    
        <!-- Dropdown pour sélectionner les compartiments disponibles -->
        <select multiple [(ngModel)]="nouvelleCiterne.compartiments" name="compartiments">
            <option *ngFor="let compartiment of compartiments" [ngValue]="compartiment">
                {{ compartiment.reference }}
            </option>
        </select>
    
        <button type="button" class="btn btn-warning" (click)="ajouterCiterne()">
            <i class="fa fa-plus-circle">&nbsp;&nbsp;</i><b>Ajouter Citerne</b>
        </button>
    </div>

    <!-- Tableau des citernes -->
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Référence</th>
                <th>Capacité</th>
                <th>Compartiments</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let citerne of citernes">
                <td>{{ citerne.id }}</td>
                <td>{{ citerne.reference }}</td>
                <td>{{ citerne.capacite }}</td>
                <td>
                    <ul>
                        <li *ngFor="let compartiment of citerne.compartiments">
                            {{ compartiment.reference }}
                        </li>
                    </ul>
                </td>
                
                <td>
                    <button type="button" class="btn btn-warning" (click)="editCiterne(citerne.id)">
                        <i class="fa-solid fa-pen"></i> Modifier
                    </button>
                    &nbsp;
                    <button type="button" class="btn btn-danger" (click)="supprimerCiterne(citerne.id)">
                        <i class="fa-solid fa-trash"></i> Supprimer
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

<!-- Modal for editing citerne -->
<div *ngIf="isModalOpen" class="modal visible">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <h2>Modifier la Citerne</h2>
      <input type="text" [(ngModel)]="citerneEnCours.reference" placeholder="Référence">
      <input type="number" [(ngModel)]="citerneEnCours.capacite" placeholder="Capacité">
      
      <select multiple [(ngModel)]="selectedCompartiments">
        <option *ngFor="let compartiment of compartiments" [value]="compartiment.id">
          {{ compartiment.reference }}
        </option>
      </select>
      
      <button type="button" class="btn btn-warning" (click)="sauvegarderModification()">
        <i class="fa-solid fa-pen"></i> Modifier
      </button>
    </div>
  </div>
  